.array-container{
    position: absolute;
    left: 100px;
}

.array-bar{
    width: 10px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
}


.array-bar2{
    width: 10px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
}

.array-bar3{
    width: 10px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1px;
}

.white-space{
    color: white;
}

.hidden-button{
    visibility: hidden;
}